.archive{
	row-gap: $spacer * 2;

	&__image-wrapper{
		overflow: hidden;
		max-height: 21.875rem;
	}

	&__image{
		position: relative;
		object-fit: cover;
		object-position: 50% 50%;
		width: 100%;
		transition: transform .35s;

		&:hover{
			transform: scale(1.2);
		}
	}
}