.archive{
	row-gap: 1.5rem;

	&__image-wrapper{
		display: block;
		overflow: hidden;
		width: 100%;
		height: 17.5rem;
	}

	&__image-wrapper:hover &__image,
	&__image-wrapper:focus &__image{
		transform: scale(1.08);
	}

	&__image{
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .35s;
	}

	&__list{
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 2rem;
		position: relative;
	}

	&__list-item{
		position: relative;
		color: $blue-third;

		&:after{
			content: '';
			position: absolute;
			width: .1875rem;
			height: .1875rem;
			background-color: $blue-primary;
			top: 50%;
			transform: translateY(-50%);
			right: -1rem;
			border-radius: 50%;
		}

		&:last-child{
			&:after{
				display: none;
			}
		}
	}

	&__footer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		justify-self: end;
	}

	&__price{
		font-weight: $font-weight-bold;
		color: $blue-primary;
	}

	&__price-type{
		color: $blue-third;
	}

	&__fv{
		position: absolute;
		top: .5rem;
		left: .5rem;
		padding: .5em 1em;
		font-size: .8rem;
		background-color: $blue-primary;
		color: $white;
	}
}